<div class="home-container">
  <h1>Welcome to {{author}}'s Comics App</h1>
  <h4>Description</h4>
  <p>Here's presented a simple frontend application using some of the Angular functionalities and life cycles. As you
    can see all the information is retrieved from the Marvel's API (<a href="https://developer.marvel.com/">here</a> you can se
    more of the documentation).</p>
  <h4>Intention</h4>
  <p>The intention of this app was to improve the frontend skills using a popular framework.</p>
</div>
